*~
*_bak
*.Po
*.a
*.app
*.dll
*.dylib
*.elf
*.exe
*.hex.git/hooks/applypatch-msg.sample
*.i*86
*.ko
*.la
*.lai
*.lib
*.o
*.obj
*.out
*.so
*.so.*
*.x86_64
*/.libs/*
*.creator
*.config
*.user
*.sublime-project
*.sublime-workspace
.git/hooks/commit-msg.sample
.git/hooks/post-update.sample
.git/hooks/pre-applypatch.sample
.git/hooks/pre-commit.sample
.git/hooks/pre-rebase.sample
.git/hooks/prepare-commit-msg.sample
.git/hooks/update.sample
ar-lib
autogen.sh
buildmbsystem.sh
buildmbsystem.sh~
compile
config.guess
config.status
config.sub
configure
configure.cmd
depcomp
install-sh
install_makefiles
install_makefiles_use
libtool
missing
src/bsio/.libs/libmbbsio.0.dylib
src/gmt/.libs/mbcontour
src/gmt/.libs/mbgrdtiff
src/gmt/.libs/mbswath
src/gmt/mbcontour
src/gmt/mbgrdtiff
src/gmt/mbswath
src/gsf/.libs/libmbgsf.0.dylib
src/html/make_mbhtml
src/htmlsrc/make_mbhtml
src/htmlsrc/man2html
src/macros/mbm_arc2grd
src/macros/mbm_bpr
src/macros/mbm_copy
src/macros/mbm_dslnavfix
src/macros/mbm_fmtvel
src/macros/mbm_grd2arc
src/macros/mbm_grd2geovrml
src/macros/mbm_grd3dplot
src/macros/mbm_grdcut
src/macros/mbm_grdinfo
src/macros/mbm_grdplot
src/macros/mbm_grdtiff
src/macros/mbm_grid
src/macros/mbm_histplot
src/macros/mbm_makedatalist
src/macros/mbm_makesvp
src/macros/mbm_multicopy
src/macros/mbm_multidatalist
src/macros/mbm_multiprocess
src/macros/mbm_plot
src/macros/mbm_rollerror
src/macros/mbm_route2mission
src/macros/mbm_stat
src/macros/mbm_utm
src/macros/mbm_vrefcheck
src/macros/mbm_xbt
src/macros/mbm_xyplot
src/mbaux/.libs/libmbaux.0.dylib
src/mbaux/.libs/libmbps.0.dylib
src/mbaux/.libs/libmbxgr.0.dylib
src/mbedit/.libs/mbedit
src/mbedit/mbedit
src/mbeditviz/.libs/mbeditviz
src/mbeditviz/mbeditviz
src/mbgrdviz/.libs/mbgrdviz
src/mbgrdviz/mbgrdviz
src/mbio/.libs/libmbio.0.dylib
src/mbnavadjust/.libs/mbnavadjust
src/mbnavadjust/Makefile.org
src/mbnavadjust/mbnavadjust
src/mbnavedit/.libs/mbnavedit
src/mbnavedit/mbnavedit
src/mbvelocitytool/.libs/mbvelocitytool
src/mbvelocitytool/mbvelocitytool
src/mbview/.libs/libmbview.0.dylib
src/otps/.libs/mbotps
src/otps/mbotps
src/surf/.libs/libmbsapi.0.dylib
src/utilities/.libs/mb7k2jstar
src/utilities/.libs/mb7k2ss
src/utilities/.libs/mb7kpreprocess
src/utilities/.libs/mbabsorption
src/utilities/.libs/mbampstats
src/utilities/.libs/mbareaclean
src/utilities/.libs/mbauvloglist
src/utilities/.libs/mbauvnavusbl
src/utilities/.libs/mbbackangle
src/utilities/.libs/mbclean
src/utilities/.libs/mbcopy
src/utilities/.libs/mbctdlist
src/utilities/.libs/mbdatalist
src/utilities/.libs/mbdefaults
src/utilities/.libs/mbdumpesf
src/utilities/.libs/mbextractsegy
src/utilities/.libs/mbfilter
src/utilities/.libs/mbformat
src/utilities/.libs/mbgetesf
src/utilities/.libs/mbgrid
src/utilities/.libs/mbhistogram
src/utilities/.libs/mbhsdump
src/utilities/.libs/mbhysweeppreprocess
src/utilities/.libs/mbinfo
src/utilities/.libs/mbkongsbergpreprocess
src/utilities/.libs/mblevitus
src/utilities/.libs/mblist
src/utilities/.libs/mbmosaic
src/utilities/.libs/mbnavlist
src/utilities/.libs/mbneptune2esf
src/utilities/.libs/mbpreprocess
src/utilities/.libs/mbprocess
src/utilities/.libs/mbps
src/utilities/.libs/mbrollbias
src/utilities/.libs/mbrolltimelag
src/utilities/.libs/mbroutetime
src/utilities/.libs/mbrphsbias
src/utilities/.libs/mbsegygrid
src/utilities/.libs/mbsegyinfo
src/utilities/.libs/mbsegylist
src/utilities/.libs/mbsegypsd
src/utilities/.libs/mbset
src/utilities/.libs/mbstripnan
src/utilities/.libs/mbsvplist
src/utilities/.libs/mbsvpselect
src/utilities/.libs/mbswplspreprocess
src/utilities/.libs/mbtime
src/utilities/mb7k2jstar
src/utilities/mb7k2ss
src/utilities/mb7kpreprocess
src/utilities/mbabsorption
src/utilities/mbampstats
src/utilities/mbareaclean
src/utilities/mbauvloglist
src/utilities/mbauvnavusbl
src/utilities/mbbackangle
src/utilities/mbclean
src/utilities/mbcopy
src/utilities/mbctdlist
src/utilities/mbdatalist
src/utilities/mbdefaults
src/utilities/mbdumpesf
src/utilities/mbextractsegy
src/utilities/mbfilter
src/utilities/mbformat
src/utilities/mbgetesf
src/utilities/mbgrid
src/utilities/mbhistogram
src/utilities/mbhsdump
src/utilities/mbhysweeppreprocess
src/utilities/mbinfo
src/utilities/mbkongsbergpreprocess
src/utilities/mblevitus
src/utilities/mblist
src/utilities/mbmosaic
src/utilities/mbnavlist
src/utilities/mbneptune2esf
src/utilities/mbpreprocess
src/utilities/mbprocess
src/utilities/mbps
src/utilities/mbrollbias
src/utilities/mbrolltimelag
src/utilities/mbroutetime
src/utilities/mbrphsbias
src/utilities/mbsegygrid
src/utilities/mbsegyinfo
src/utilities/mbsegylist
src/utilities/mbsegypsd
src/utilities/mbset
src/utilities/mbstripnan
src/utilities/mbsvplist
src/utilities/mbsvpselect
src/utilities/mbswplspreprocess
src/utilities/mbtime
